        <div class="pure-g">
            <div class="l-box-lrg pure-u-md-1-5">
                <h3 class="content-subhead">
                    <a href="/admin"> <i class="fa fa-shield"></i> Admin</a>
                </h3>
                <p>
                    <a href="/admin/users"><i class="fa fa-child"></i> Users</a><br>
                </p>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            

                <h4>User list</h4>
                <p>

              <table  style="width:100%">
                <tr style="font-weight: 700; color: #000;">
                  <td>username</td>
                  <td>email</td> 
                  <td>level</td>
                </tr>

                  <tr data-ng-repeat="user in users">
                      <td><a href="/user/{{ user._id.toHexString() }}">{{ user.username }}</a></td>
                      <td>{{ user.email }}</td>
                      <td>
                           <a  ng-if="user.level > 0" class="animate-if" href="/api/u/{{ user.id }}/level/down"><i class="fa fa-minus-circle"></i></a>
                           {{ user.level }}
                           <i class="fa fa-plus-circle userLevelUp"></i>
                      </td>
                  </tr>
              </table>                    
                <script>
                    $('.userLevelUp').click(function(){ 
                        //  /api/u/{{ user._id.toHexString() }}/level/up
                        return false; 
                    });
                </script>
                

                
            </div>
        </div>

    </div>




<script>



    socket.on('log', function(data) {
       // Connected, let's authenticate over sockets.
       console.log(data)
       $("#realtimestatus").prepend(data.message + "<br>");
       //socket.emit('authenticate', {username: user.username, password: user.password });
    });

	var scrypt = scrypt_module_factory();

	$('#login').submit(function() {
    // get all the inputs into an array.
    	// not sure if you wanted this, but I thought I'd add it.
    	// get an associative array of just the values.

	    //console.log($('#username').val());
	    //console.log($('#password').val());
	   	var encrypted = scrypt.crypto_scrypt(scrypt.encode_utf8($('#username').val()), scrypt.encode_utf8($('#password').val()), 16384, 8, 1, 32);
		console.log(scrypt.to_hex(encrypted))
		$('#password').val(scrypt.to_hex(encrypted));
		return 1;
	});
</script>