<div class="content brief">
    <div class="pure-g" style="min-height: 30em;" >
         <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>
            <div class="l-box pure-u-1 pure-u-md-3-5 pure-u-lg-1-2">
                <br><br><h1 class="content-subhead" style="margin-top: 5em;" >Thank you for your application!</h1>
                <p>We will be in touch with you soon.</p>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>
	</div>
</div>

<script>
			var briefdata = {}
			var entry = {}

			$('.briefbutton').click( function() {
				
				entry["companyname"] = $("#companyname").val();
				entry["companyurl"] = $("#companyurl").val();
				entry["companydescription"] = $("#companydescription").val();
				entry["companylocation"] = $("#companylocation").val();
				entry["projecttitle"] = $("#projecttitle").val();
				entry["projectsummary"] = $("#projectsummary").val();
				entry["designertype"] = $("input:radio[name ='designertype']:checked").val();
				entry["budgetrange"] =$( "#budgetrange option:selected" ).text();
				entry["projectdetails"] = $("#projectdetails").val(); 
				entry["projectinspiration"] = $("#projectinspiration").val(); 
				entry["projecttimeframe"] = $("#projecttimeframe").val(); 
				
				entry["skills"] = [] //$("input:checkbox[name ='skills']:checked").val();
				
				$('.skillschecklist').each(function(){ 
					if (this.checked == true) {
						console.log( $(this).prop('value') );
						console.log( $(this).prop('checked') );
						entry["skills"].push( $(this).prop('value') )
					}
						
				});

				entry["coding"] = $("input:radio[name ='coding']:checked").val();

				briefdata.brief = entry

				console.log(entry)
				$.post( "/projects/new", briefdata, function( projectid ) {
				  console.log("success! created.. project id is:")
				  console.log(projectid);
				  
				  window.location.replace("/project/"+projectid); //similar to redirect

				});
				 
			});

	
</script>