<modal-window bind-compiled-html="loginModalWindow.html" bind-title="loginModalWindow.title" use="loginModalWindow.use"></modal-window>
<modal-window bind-compiled-html="registerModalWindow.html" bind-title="registerModalWindow.title" use="registerModalWindow.use"></modal-window>
<modal-window bind-compiled-html="forgotResetModalWindow.html" bind-title="forgotResetModalWindow.title" use="forgotResetModalWindow.use"></modal-window>

<featured-market-place></featured-market-place>

<market-place tag-filter=""></market-place>