        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                
				<h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Projects
                </h3>
                <p>
                    <a href="/projects/new">create new project</a><br>
                    <a href="/projects/join">join a project</a><br>
                    <a href="/projects/public">list all projects</a><br>
                </p>

            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>How this works</h4>
                <p>
                    We need you to signup so we can process your requests and contact you. Please make sure the email you provide is correct.
                </p>

                <h4>Problems?</h4>
                <p>
                    If for some reason you cannot access your account, please send us an email or call us.
                </p>
            </div>
        </div>