<!-- cart START -->
<div class="cart container">
  <div class="cartWrap">
    <div class="pure-g">
        
        <div class="pure-u-1 pure-u-md-2-3">
           <a href="/"> 
            <div class="cartList" ></div>
           </a>
         </div>

        <div class="pure-u-1 pure-u-md-1-3 cartText">
          <div class="cartTextWrap" style="margin-top: 2em; margin-bottom: 2em;">
            <p>Final costs for shipping and sales tax will be calculated once you enter your payment information.</p>
          </div>

          <div class="cartTextWrap">
            <h3>DETAILS</h3>
            <div class="cartDetailEntry">
              SUBTOTAL <span class="DetailEntryAmount"><i class="fa fa-bitcoin"></i> 0.00</span>
            </div>            
            <div class="cartDetailEntry">
              SALES TAX <span class="DetailEntryAmount"><i class="fa fa-bitcoin"></i> 0.00</span>
            </div>  
            <div class="cartDetailEntry">
              SHIPPING <span class="DetailEntryAmount"><i class="fa fa-bitcoin"></i> 0.00</span>
            </div>            
            <div class="cartDetailEntry">
              TOTAL <span class="DetailEntryAmount"><i class="fa fa-bitcoin"></i> 0.00</span>
            </div> 
          </div>

          <div class="cartTextWrap" style="margin-top: 2em; margin-bottom: 5em;">
          <p>You will be charged by LaunchLab, NPO. Our Delivery Methods, Return Policy and Privacy Statement are available <a href="/terms">here</a>.</p>
          </div>


          <a class="thickBlock" href="/">
            <div>
                MAKE PAYMENT 
            </div>
          </a>
      </div>

    </div>
  </div>
</div> 



<style>

.cartDetailEntry {
}

.DetailEntryAmount {
  float: right;
}

.creatorBlock {
  height: 47px;
  bottom: 47px;
  position: absolute;  
  width: 100%;
  text-align: center;  
  color: rgb(125,125,125);
}

.creatorBlock a{
}

a.thickBlock div {
  background: rgb(225,76,7);
  height: 47px;
  text-transform: uppercase;
  text-align: center;
  bottom:0;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  font-weight: 700;
  color: rgb(255,255,255);
}

a.thickBlock:hover div {
  background: rgb(255,255,255);
  color: rgb(225,76,7);
}

.cartList { 
  background: rgb(39,37,38);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    height: 300px;
}
.cartText { 
  background: rgb(32,31,32); 
  position: relative;}

.cartTextWrap {
  text-align: left;
  padding: 0em 2em 0 2em;
  font-size: 1em;
}  

.cartTextWrap p {
  line-height: 1.2em;
  font-weight: 400;
  font-size: 0.8em;
  color: rgb(200,200,200);
  margin-top: 0;
}  

.cartTextWrap h3 {
  color: rgb(225,76,7);
  margin: 0;
}

@media (max-width: 1200px) {
  .cartWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .cartWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>

<script type="text/javascript">
  var resizecart = function () {
    $(".cartTextWrap").css("font-size", Math.round($(".cartWrap").width()*0.015));
    $(".cartList").height($(".cartText").height() );
  }

  resizecart();

  window.addEventListener( 'resize', resizecart, false );
</script>
<!-- cart END -->