{% extends 'layoutv2.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.min.js"></script>
  <script src="/lib/socket.io.min.js"></script>
{% endblock %}

{% block content %}

<!-- projects -->
<div class="projects container">
  <div class="projectsWrap">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="projectsList" >
              <div class="pure-g">

                {% for order in projects %}
              
                <!-- projectItem START -->
                <div class="pure-u-1 projectItem">
                  <div class="pure-g">

                  
                    <div class="projectItemDesc pure-u-1-2">
                      <div class="projectItemTitle">
                          {% if order.brief.title %}
                            {{ order.brief.title }}
                          {% endif %}
                          {{ order.projecttitle }}
                      </div>
                      <div class="projectItemProvider">
                        <a href="/{{ order.offering.creator }}">{{ order.offering.creator }}</a>
                      </div>
                    </div>

                    <div class="projectItemActions pure-u-1-12">
                      {% if order.attachments.length > 0 %}
                      <div class="projectItemActionsAttachments">
                        <a href="/"><i class="fa fa-files-o fa-2x iconActive"></i></a>
                      </div>
                      {% endif %}

                      {% if order.attachments.length == 0 %}
                      <div class="projectItemActionsAttachments">
                        <i class="fa fa-files-o fa-2x iconActive"></i>
                      </div>
                      {% endif %}                      
                    </div>

                    <div class="projectItemFunding pure-u-1-4">
                      {% if order.paid > 0 %}
                      <div class="projectItemFundingWrap">
                        <div class="projectItemFundingSpent">USED: R {{ order.used }}</div>
                        <div class="projectItemFunding">PAID: R {{ order.paid }}</div>
                        
                        <div class="projectItemFundingBar">
                            <div class="projectItemFundingBarFill" style="width: {{ order.funded }}%; "></div>
                        </div>

                        <div class="projectItemFundingTOTAL">TOTAL: R {{ order.paid }}</div>
                        <div class="projectItemFundingETA">ETA: ??</div>
                      </div>
                      {% endif %}

                        {% if order.paid == 0 %}
                        <div class="projectItemPrice"> R {{ order.price }} </div>
                        {% endif %}

                    </div>

                    <div class="projectItemProgress pure-u-1-12">
                        {% if order.paid > 0 %}
                        <div class="projectItemProgressPercentage">{{ order.completed }}%</div>
                        {% endif %}


                    </div>

                    <div class="projectItemProgress pure-u-1-12">
                      
                      <div class="projectItemStatus">
                       
{% if order.brief  %}
<a href="/project/{{ order._id.toHexString() }} ">
  <div class="detailsBusy">
    <i class="fa fa-flask fa-2x"></i><br>
    <span>BUSY</span>
  </div>
</a>
{% endif %}

{% if order.brief == undefined %}
<a href="/project/{{ order._id.toHexString() }}/brief">
  <div class="detailsBrief">
    <i class="fa fa-file-text-o fa-2x"></i><br>
    <span>BRIEF REQUIRED</span>
  </div>
</a>
{% endif %}       


                        {% if order.paid == 0 %}
                          <a href="/cart/delete/{{ order._id.toHexString() }} ">
                          <div class="detailsCancel">
                             <i class="fa fa-times "></i>
                          </div>
                          </a>
                        {% endif %}
                      </div>
                        
                    </div>

                  </div>
                </div>
                <!-- projectItem END-->
                
                {% endfor %}

              </div>
            </div>
        </div>
      </div>
    </div>
</div>

<style>

.iconActive { color: ;}

.detailsBusy { padding-top: 1em;}
.detailsCancel { color: rgb(125,125,125);}
.detailsCancel:hover { color: rgb(255,75,75);}
.detailsBrief { padding-top: 1em; color: rgb(224,77,10); }
.detailsBrief:hover { color: rgb(255,255,255); background: rgb(224,77,10);}

.projectItemFundingWrap { margin: 0.5em; }
.projectItemFunding { color: rgb(153,223,11); }
.projectItemFundingSpent { float:right; color: rgb(255,255,255); }


.projectItemFundingBar { height: 5px; background: rgb(125,125,125); }
.projectItemFundingBarFill { height: 5px; background: rgb(153,223,11); width: 50%;}
.projectItemFundingETA { font-size: 0.75em;}
.projectItemFundingTOTAL {  font-size: 0.75em; float: right; color: rgb(125,125,125); }

.projectItemProgressPercentage {  color: rgb(153,223,11); font-size: 1.5em; margin-top: 1.1em; text-align: center;}

.projectItemPrice {  color:  rgb(225,76,7); font-size: 1.5em; margin-top: 1.1em; text-align: center;}

.projectItemActionsAttachments a { color: rgb(153,223,11);}
.projectItemActionsAttachments a:hover { color: rgb(255,255,255);}
.projectItemActionsAttachments { margin-top: 1.5em; color: rgb(45,45,45);}

.projectItemStatus {  text-align: center; }
.projectItemStatus span { font-size: 0.5em; }
.projectItemStatus a { color: rgb(153,223,11);}
.projectItemStatus a:hover { color: rgb(255,255,255);}

.projectItemTitle { text-transform: uppercase; font-size: 1.25em; font-weight: 700; margin-top: 0.5em; margin-left: 16px;}
.projectItemProvider { text-transform: uppercase; margin-left: 16px; margin-bottom: 0.3em; }
.projectItemProvider a { color: rgb(150,150,150); }
.projectItemProvider a:hover { color: rgb(255,255,255); }

.projectItem {
  background: rgb(32,32,32);
  margin-bottom: 0.5em;
}

@media (max-width: 1200px) {
  .projectsWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .projectsWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>
<!-- projects end -->


<!-- cart START -->
{% if cart.length != 0 %}
<div class="cart container">
  <div class="cartWrap">
    <div class="pure-g" id="cartmainhider">
        
        <div class="pure-u-1 pure-u-md-2-3">
            <div class="cartList" >
              <div class="pure-g">


          {% if cart.length == 0 %}
          
            <div class="pure-u-1 emptycart">
                YOUR CART IS EMPTY
            </div>
        
          {% endif %}


            {% for order in cart %}
              <div class="pure-u-1 cartItem">

              <a href="/offerings/view/{{ order.offering._id.toHexString() }}">
                <div class="cartItemPicture" style="background-image: url('/offerings/{{ order.offering.samplefiles[0] }}')">
                </div>
                </a>

                <div class="cartItemDetails">
                  <a href="/cart/delete/{{ order._id.toHexString() }} ">
                  <div class="detailsCancel">
                     <i class="fa fa-times "></i>
                  </div>
                  </a>


                  <div class="detailsPrice">
                     R {{ order.price }}
                  </div>
                  <div class="detailsOptions">
                     {{ order.projecttitle }}
                  </div>
                  
                </div>
                
              </div>
            {% endfor %}
              </div>
            </div>
           
         </div>

        <div class="pure-u-1 pure-u-md-1-3 cartText">
          <div class="cartTextWrap" style="margin-top: 2em; margin-bottom: 2em;">
            <p>Final costs for shipping and sales tax will be calculated once you enter your payment information.</p>
          </div>

          <div class="cartTextWrap">
            <h3>DETAILS</h3>
            <div class="cartDetailEntry">
              SUBTOTAL <span class="DetailEntryAmount">R 
                {{ session.carttotal.toFixed(2) }}
              </span>
            </div>            
            <div class="cartDetailEntry">
              SALES TAX <span class="DetailEntryAmount">R 0</span>
            </div>  
            <div class="cartDetailEntry">
              SHIPPING <span class="DetailEntryAmount">R 0</span>
            </div>            
            <div class="cartDetailEntry">
              TOTAL <span class="DetailEntryAmount">R {{ session.carttotal.toFixed(2) }}</span>
            </div> 
          </div>

          <div class="cartTextWrap" style="margin-top: 2em; margin-bottom: 5em;">
          <p>You will be charged by LaunchLab, NPO. Our Delivery Methods, Return Policy and Privacy Statement are available <a href="/terms">here</a>.</p>
          </div>


          {% if cart.length > 0 %}
          
            <div id="paymentButton">
                MAKE PAYMENT
            </div>
          
          {% endif %}

          {% if cart.length == 0 %}
          
            <div class="thickBlockdisabled">
                MAKE PAYMENT
            </div>
        
          {% endif %}


      </div>

    </div>

     <div class="pure-g">
     	 <div class="pure-u-1" id="paymentaddressWrap">
     	 	<div>
     	 	<h3>SEND <span class="currency">R {{ session.carttotal.toFixed(2) }} </span> TO THIS WALLET ADDRESS:</h3>
     	 	<span id="paymentaddress"></span>
     	 	<p>After sending currency please wait for page to update.</p>
     	 	</div>
     	 </div>

     	 <div class="pure-u-1" id="paymentCompleted">
     	 	<div>
	     	 	<h3>PAYMENT RECIEVED!</h3>
	     	 	<p>Thank you.</p>
     	 	</div>
     	 </div>

     </div>

  </div>
</div> 
{% endif %}

<script>

	var socket = io.connect();
	
	socket.on('connect', function() {
		console.log("CONNECTED")
	});

	socket.on('payment', function(id, msg){
	    //socket.broadcast.to(id).emit('my message', msg);
	    console.log(id)
	    console.log(msg)
	    $("#paymentaddressWrap").hide();
	    $("#paymentCompleted").show();
	});

	$("#paymentaddressWrap").hide();
	$("#paymentCompleted").hide();
	
	$("#paymentButton").click( function () {
		$("#paymentButton").html('<i class="fa fa-circle-o-notch fa-spin"></i>');
		$.get( "/payment", function( data ) {
		  $("#cartmainhider").hide();
		  $( "#paymentaddress" ).html( data.input_address );
		  	
		  	  console.log("JOIN CHANNEL "+data.input_address)
		  	  socket.emit('room', {room: data.input_address });
		  	  

		  	  /*console.log("JOIN CHANNEL "+"test")
		  	  socket.emit('room', {room: "test" });*/

		  	
		

		  $("#paymentaddressWrap").fadeIn(300);
		  //footer resize
		  resizeFooter();
		});
	})

</script>


<style>

#paymentCompleted {
  margin-top: 1em;
  background: rgb(32,31,32); 	
  text-align: center;
  padding: 1em;
}

#paymentaddressWrap h3 .currency {
	color: rgb(225,76,7);
}

#paymentaddressWrap {
  margin-top: 1em;
  background: rgb(32,31,32); 	
  text-align: center;
  padding: 1em;
}

#paymentaddressWrap h3 .currency {
	color: rgb(225,76,7);
}

#paymentaddress {
	background: rgb(38,38,38);
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid rgb(70,70,70);
}

/*-----*/

#paymentButton {
  background: rgb(225,76,7);
  height: 47px;
  text-transform: uppercase;
  text-align: center;
  bottom:0;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  font-weight: 700;
  color: rgb(255,255,255);
  cursor: pointer;
}

#paymentButton:hover {
  background: rgb(255,255,255);
  color: rgb(225,76,7);
}



.emptycart {
  text-align: center;

  color: rgb(125,125,125);
}

.detailsCancel {
  width: 40px;
  float:right;
  
  height: 80px;
  text-align: center;
  padding-top: 27px;
  font-size: 25px;
  font-weight: 400;
}

.detailsCancel:hover {
  background: rgb(45,32,32);
}

.detailsOptions {
  margin-right: 150px;
  overflow: hidden;
  padding: 0.5em;  
  padding-left: 1em;  
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.5em;
  padding-top: 27px;
  min-height: 80px;
}

.detailsPrice {
  float: right;
  width: 140px;
  
  font-size: 20px;
  padding: 0.5em;
  padding-top: 27px;
}

.cartItemDetails {

  min-height: 80px;
  margin-left: 80px;
}

.cartItem {
  min-height: 80px;
  background: rgb(32,32,32);
  margin-bottom: 1px;
  margin-right: 1px;
}

.cartItemPicture {
  height: 80px;
  width: 80px;
  overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;  
     float:left;
}



.cartDetailEntry {
}

.DetailEntryAmount {
  float: right;
  width: 100px;
}

.creatorBlock {
  height: 47px;
  bottom: 47px;
  position: absolute;  
  width: 100%;
  text-align: center;  
  color: rgb(125,125,125);
}

.creatorBlock a{
}




.thickBlockdisabled  {
  background: rgb(76,76,76);
  height: 47px;
  text-transform: uppercase;
  text-align: center;
  bottom:0;
  position: absolute;
  width: 100%;
  padding-top: 10px;
  font-weight: 700;
  color: rgb(155,155,155);
  cursor: default;
}

.thickBlockdisabled:hover  {
   background: rgb(76,76,76);
  color: rgb(155,155,155);
}


.cartList { 
  background: rgb(39,37,38);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
}
.cartText { 
  background: rgb(32,31,32); 
  position: relative;}

.cartTextWrap {
  text-align: left;
  padding: 0em 2em 0 2em;
  font-size: 1em;
}  

.cartTextWrap p {
  line-height: 1.2em;
  font-weight: 400;
  font-size: 0.8em;
  color: rgb(200,200,200);
  margin-top: 0;
}  

.cartTextWrap h3 {
  color: rgb(225,76,7);
  margin: 0;
}

@media (max-width: 1200px) {
  .cartWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .cartWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>

<script type="text/javascript">
  var resizecart = function () {

    var cartfontsize = 0; //fancy center vertical
    if ($(".cartWrap").width() > 768) {
      $(".cartTextWrap").css("font-size", Math.round($(".cartWrap").width()*0.015));  
      cartfontsize = Math.round($(".cartWrap").width()*0.025);
      $(".emptycart").css("font-size", cartfontsize);  
      
    } else {
      $(".cartTextWrap").css("font-size", Math.round(768*0.015));  
      cartfontsize = Math.round(768*0.025);
      $(".emptycart").css("font-size", cartfontsize);  

    }
    
    if (  $(".cartText").height() > $(".cartList").height()  ) {
        $(".cartList").height( $(".cartText").height()   )
        $(".emptycart").css("margin-top",  0);  
        $(".emptycart").css("margin-top",  ($(".cartText").height() /2) - Math.round(cartfontsize/2) );  
    }
    
  }

  resizecart();

  window.addEventListener( 'resize', resizecart, false );
</script>
<!-- cart END -->


{% endblock %}
