{% extends 'layout.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}




<a name="top" id="top"></a>
<div class="splash-container-creativeapply">
 <div class="splash-overlay" style="height:100%;">

            <div class="pure-u-1 pure-u-md-1-1" >
                <div>

                    <h1 class="firsttagline" style="font-size: 45px; margin-top: 4em;">Apply as a Creative</h1>
                    <p class="secondtagline">
                        Create a profile for yourself
                    </a> 
                </div>
            </div>
    </div>
  </div>
</div>

<div class="content-wrapper-order">
<div class="content brief">
    <div class="pure-g" >

         <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>

            <div class="l-box pure-u-1 pure-u-md-3-5 pure-u-lg-1-2">
				

<h2>Your Account</h2>

<form action="/creatives/applyform" class="pure-form pure-form-stacked" method="post">

	<label>Full name</label>
	<input id="fullname" class="backgroundinputs" data-backgroundinfo="fullname" type="text" name="fullname" placeholder="Enter your full name here...">
	
	<label>Phone number</label>
	<input id="phonenumber" class="backgroundinputs" data-backgroundinfo="phonenumber" type="text" name="phonenumber" placeholder="We will not sell or spam your number">

	<label>Username: {{ username }} </label>
	<label>Email: {{ email }} </label>
	    	
	<label>How did you hear about LaunchLab?</label>    	
	<input id="referer" class="backgroundinputs" type="text" name="referer" placeholder="">

	<h2>About you</h2>
	<label>Profile Type</label>  
	<div class="pure-g" >
		<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
			<input checked="checked" type="radio" name="profiletype" value="public"> Public</br>
		</div>
		<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
			<input type="radio" name="profiletype" value="private"> Private</br>
		</div>
		<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
			<input type="radio" name="profiletype" value="hidden"> Hidden</br>
		</div>
	</div>
	<p><b>Public:</b> Your profile will show up in public listings. Anyone can view your profile.<br>
	<b>Private:</b> You won't show up in public listings, but people that you interact with will be able to see your profile.<br><b>Hidden:</b> Only administrators can see your profile, it will be hidden to all other users.</p>


	<label>Short Bio</label>
	<input id="shortbio" class="backgroundinputs" type="text" name="shortbio" placeholder="i.e. I design functional and beautiful user interfaces">
	
	<label>Biography</label>    	
	<textarea id="biography" name="biography" class="backgroundtextareas" rows="12" placeholder="What you do, who you've worked with, what's your design philosophy, etc."></textarea>	


	<label>location</label>
	<input id="location" class="backgroundinputs" type="text" name="location" placeholder="Ex. Centurion, South Africa">

	<label>Portfolio url</label>
	<input id="portfolio" class="backgroundinputs" type="text" name="portfolio" placeholder="Link to your portfolio">

	<label>Behance Username</label>
	<input id="behance" class="backgroundinputs" type="text" name="behance" placeholder="optional if you have a Behance portfolio">

    <button type="submit" class="pure-button" value="Submit">Apply to join LaunchLab</button>

</form>

</div>

<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>


</div>
</div>

    {% include "./footer.html" %}

</div>

{% endblock %}