{% extends 'layout.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}






<div class="content brief">
    <div class="pure-g" >




         <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>

            <div class="l-box pure-u-1 pure-u-md-3-5 pure-u-lg-1-2">
                <br><br><h1 class="content-subhead">Apply as creative</h1>
				<h2>Before you apply...</h2>

				<p>Before applying to Folyo, make sure you have a personal online portfolio. Not having one will get your application rejected no matter your design skills or experience.</p>

				<p>This can be a custom portfolio site, or a link to a Cargo, Behance, Carbonmade, Dunked, etc. account.</p>

				<p>Please note that the following are <b>not accepted as portfolios:</b></p>

				<ul>
					<li>Personal blogs</li>
					<li>Dribbble accounts</li>
					<li>Forrst accounts</li>
					<li>PDF portfolios</li>
					<li>Flash-only portfolios</li>
					<li>Any password-protected portfolio</li>
				</ul>

				<h2>What If I'm Not Accepted?</h2>
				<p>If your application is not accepted, you can reapply any time. That being said, we review each application individually, so please only apply if you meet the requirements!</p>

				<a href="/creatives/applyform" class="pure-button pure-button-primary briefbutton">Yes, Lets do it!</a>

            </div>

            <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>








	</div>
</div>
    
	

	

	

    


  

    {% include "./footer.html" %}

</div>





<script>

	
			var briefdata = {}
			var entry = {}

			$('.briefbutton').click( function() {

				
				entry["companyname"] = $("#companyname").val();
				entry["companyurl"] = $("#companyurl").val();
				entry["companydescription"] = $("#companydescription").val();
				entry["companylocation"] = $("#companylocation").val();
				entry["projecttitle"] = $("#projecttitle").val();
				entry["projectsummary"] = $("#projectsummary").val();
				entry["designertype"] = $("input:radio[name ='designertype']:checked").val();
				entry["budgetrange"] =$( "#budgetrange option:selected" ).text();
				entry["projectdetails"] = $("#projectdetails").val(); 
				entry["projectinspiration"] = $("#projectinspiration").val(); 
				entry["projecttimeframe"] = $("#projecttimeframe").val(); 
				
				entry["skills"] = [] //$("input:checkbox[name ='skills']:checked").val();
				
				$('.skillschecklist').each(function(){ 
					if (this.checked == true) {
						console.log( $(this).prop('value') );
						console.log( $(this).prop('checked') );
						entry["skills"].push( $(this).prop('value') )
					}
						
				});

				entry["coding"] = $("input:radio[name ='coding']:checked").val();

				briefdata.brief = entry

				console.log(entry)
				$.post( "/projects/new", briefdata, function( projectid ) {
				  console.log("success! created.. project id is:")
				  console.log(projectid)


				  
				  window.location.replace("/project/"+projectid); //similar to redirect

				});
				 
			});

	
</script>
{% endblock %}