{% extends 'layout.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="content-wrapper-top">
    <div class="content">
        <div class="pure-g" >

            <div class="l-box pure-u-1">
                <div style="margin-top: 6em; text-align: center;">
                    <h1 style="color: rgba(155,45,45, 0.8); font-weight: 700; font-size: 4em;"><i class="fa fa-cross-circle "></i> ERROR 404</h1>
                    <p style="color: #888; font-size: 2em; line-height: 1.5em;">Something went wrong! <br> {{message}} <br> Back to <a href="/">home</a> perhaps?
                    </p>
                </div>    
            </div>

        </div>
    </div>

    {% include "./footer.html" %}
</div>






{% endblock %}