{% extends 'layout.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.min.js"></script>
{% endblock %}

{% block content %}








<div class="content-wrapper">


 


<!-- start market -->
    <div class="ribbon l-box-lrg " style="background: rgb(255, 255, 255);">
       


<div class="pure-g">

            {% include "./gallery.html" %}
            

        </div>

        
    </div> <!-- end market -->

    





         
    

    {% include "./footer.html" %}

</div>




<script>
    var scrypt = scrypt_module_factory();

    $('a').click(function(){
        $('html, body').animate({
            scrollTop: $( $(this).attr('href') ).offset().top
        }, 500);
        return false;
    });


    $('#login').submit(function() {
    // get all the inputs into an array.
        // not sure if you wanted this, but I thought I'd add it.
        // get an associative array of just the values.

        //console.log($('#username').val());
        //console.log($('#password').val());
        var encrypted = scrypt.crypto_scrypt(scrypt.encode_utf8($('#username').val()), scrypt.encode_utf8($('#password').val()), 16384, 8, 1, 32);
        console.log(scrypt.to_hex(encrypted))
        $('#password').val(scrypt.to_hex(encrypted));
        return 1;
    });


    var reposition = function () {
        var windowheight = $(window).height()
        var windowwidth = $(window).width()
        $(".launchlabsplash").css("padding-top", 80);
        $(".splash-container").css("height", 30)
        $(".splash-overlay").css("height", 30)
        $(".content-wrapper").css("top", 30)

        $(".downarrowfront").css("top", windowheight - 100)
        if (windowwidth < 600) {
          $(".downarrowfront").hide();
          $(".secondtagline").hide();
        }
         if (windowwidth > 600) {
            $(".downarrowfront").show();
            $(".secondtagline").show();
            $(".downarrowfront").css("font-size", 60)    
        }
    }


//window.addEventListener('resize', reposition);

reposition();


$('#username').focus();

</script>
{% endblock %}
