{% extends 'layout.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.js"></script>
{% endblock %}

{% block content %}



<a name="top" id="top"></a>

<div class="splash-container">
 <div class="splash-overlay">

    <div class="pure-g launchlabsplash" >
            
            
            <div class="pure-u-1 pure-u-md-1-1" >
                <div>
                    <h1 class="firsttagline" style="font-size: 45px;">Find a Creative</h1>


                    <p class="secondtagline">
                        The LaunchLab is a platform for Open Window students to co-create, co-operate, revitalise and branch-out their skills in an ever-evolving industry.
                    <br>
                        Quickly collaborate with and pay freelance graphic designers.<br>
                    </p>
                    
                    <p class="taglinebutton" >
                        <a href="#tour"> Find out more <i class="fa fa-arrow-circle-down"></i></a> 
                        <br>
                    </p>

                </div>
            </div>
            
        

    </div>
  </div>
</div>

<div class="content-wrapper">
<a name="tour" id="tour"></a>       
    <div class="content"  style="background: rgb(255, 255, 255);">
	   

        <h2 class="content-head is-center" style="color: #f38a00; margin-top:60px; margin-bottom: 0;" >Why You will love us</h2>
    <br>
        <p style="text-align: center; margin-top:0px; color: #4d5756">We bring a range of skills and dynamic influence to every project.</p>
    <br>

        <div class="pure-g">

            <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="iconboxes">
                    <i class="fa fa-rocket largeicon"></i>
                    <h3 class="content-subhead">
                    Quick start
                    </h3>
                     <p style="text-align: center; margin-top:0px; color: #4d5756">
                    Creating a project is easy. Getting the team up to speed is even easier.
                    </p>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="iconboxes">
                    <i class="fa fa-pencil largeicon"></i>
                    <h3 class="content-subhead">
                    Design Brief
                    </h3>
                    <p style="text-align: center; margin-top:0px; color: #4d5756">
                    Filling out one of the template briefs helps to make sure you have everything the team needs.
                    </p>
                </div>
            </div>


            <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="iconboxes">
                    <i class="fa fa-gear largeicon"></i>
                    <h3 class="content-subhead">
                    Efficient
                    </h3>
                    <p style="text-align: center; margin-top:0px; color: #4d5756">
                    Productive collaboration depends on effective communication, we made this so easy it's fun.
                    </p>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="iconboxes">
                    <i class="fa fa-clock-o largeicon"></i>
                    <h3 class="content-subhead">
                    Time frame
                    </h3>
                     <p style="text-align: center; margin-top:0px; color: #4d5756">
                    Keep track of project schedules and projected timelines. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg ">
       <h2 class="content-head is-center" style="color: white; margin-bottom:0px;">PORTFOLIO</h2>
        <br>
        <p style="text-align: center; margin-top:0px; color: rgba(255,255,255,0.9)">Creating quality work to emphasize your brand</p>
         <br>

        <div class="pure-g portfolio">

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_1.png">
                </div>                
            </div>

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_2.png">
                </div>
            </div>


            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_3.png">
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
            <img src="/images/portfolio_4.png">
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_5.png">
                </div>                
            </div>

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_6.png">
                </div>
            </div>


            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_7.png">
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
                <div class="portfoliobox">
                    <img src="/images/portfolio_8.png">
                </div>
            </div>
        </div>


    </div>


    <div class="ribbon l-box-lrg" style="background: rgb(255, 255, 255);">
	<h2 class="content-head is-center" style="ccolor: #4d5756 ;margin-bottom: 0;" >OUR CUSTOMERS</h2>
    <br>
    <p style="text-align: center; margin-top:0px; color: #4d5756">Here are some of the companies who have worked with us:</p>
    <br>

        <div class="pure-g clients">

            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <div class="clientbox" style="text-align:center;" >
                    <img src="/images/clients.png" >
                    <br>
                    <br>
                </div>                
            </div>  
        </div>   
    </div>

    <div class="content"  style="background: rgb(247,139,0);">
        <h2 class="content-head is-center" style=" color: rgb(255, 255, 255); margin-top:60px; margin-bottom: 0;" >OUR SERVICES</h2>
         <br>
         <p style="text-align: center; margin-top:0px; color: rgba(255,255,255,0.9)">
        LaunchLab spans across multiple skillsets, including:</p>
<div class="pure-g">
   <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-6 pure-u-lg-1-6">
                <div class="servicelist" style="text-align: center;">
                    <h4 class="content-subhead is-center"> 
                    </h4>
                    <li>Web Design</li>
                    <li>UX Design</li>
                    <li>Mobile Design</li>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-6 pure-u-lg-1-6">
                <div class="servicelist" style="text-align: center;">
                    <h4 class="content-subhead">
                     </h4>
                    <li>UI Design</li>
                    <li>Logo Design</li>
                    <li>Illustration</li>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-6 pure-u-lg-1-6">
                <div class="servicelist" style="text-align: center;">
                    <h4 class="content-subhead">
                    </h4> 
                    <li>Icon Design</li>
                    <li>Print Design</li>
                    <li>Packaging Design</li>
                </div>
                <br>
            </div>
            
  </div>
</div>


    <div class="content signupform" style="background: rgb(45, 45, 45); color: rgb(225,225,225);">
        

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form action="/" class="pure-form pure-form-stacked" method="post">
                    <fieldset>

                        <label for="name">Username</label>
                        <input id="username" type="text" name="username" placeholder="Your Username">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" name="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" name="password" placeholder="Your Password">

                        <button type="submit" class="pure-button" value="Submit">Sign Up or Login</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            		<a name="start" id="start"></a>
                <h2 class="content-head is-left" style="color: rgb(225, 225, 225);">Get started</h2>
                <p>
                    We need you to signup so we can process your requests and contact you. Please make sure the email you provide is correct.
                </p>

                <h4>Problems?</h4>
                <p>
                    If for some reason you cannot access your account, please send us an email or call us.
                </p>
            </div>
        </div>

    </div>

    {% include "./footer.html" %}

</div>




<script>
	var scrypt = scrypt_module_factory();

$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
});

	$('#login').submit(function() {
    // get all the inputs into an array.
    	// not sure if you wanted this, but I thought I'd add it.
    	// get an associative array of just the values.

	    //console.log($('#username').val());
	    //console.log($('#password').val());
	   	var encrypted = scrypt.crypto_scrypt(scrypt.encode_utf8($('#username').val()), scrypt.encode_utf8($('#password').val()), 16384, 8, 1, 32);
		console.log(scrypt.to_hex(encrypted))
		$('#password').val(scrypt.to_hex(encrypted));
		return 1;
	});

var windowheight = $(window).height()
$(".launchlabsplash").css("padding-top", (windowheight/3));
$(".splash-container").css("height", windowheight)
$(".splash-overlay").css("height", windowheight)
$(".content-wrapper").css("top", windowheight)

</script>
{% endblock %}
