{% extends 'layout.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.js"></script>
{% endblock %}

{% block content %}
{{ foo }}


<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""><img class="mainlogo" src="/images/logo.png"></a>

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#tour">Tour</a></li>
            <li><a href="#door">Signup</a></li>
            <li><a href="#door">Login</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">launch your idea</h1>
        <p class="splash-subhead">
            Click below to get started with your free instant quote
        </p>
        <p>
            <a href="#door" class="pure-button pure-button-primary launchbutton">Get started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center"><a name="tour"></a>Why you'll love LaunchLab.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    The LaunchLab is a platform for Open Window students to co-create, co-operate, revitalise and branch-out their skills in an ever-evolving industry.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Collaboration
                </h3>
                <p>
                    This collaborative service provides our clients with innovative thinking that offers better solutions.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Offering
                </h3>
                <p>
                    Corporate Design</br>
                    Website Development</br>
                    Film</br>
                    Animation</br>
                    Photography</br>
                    Social Media Design</br>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Objective
                </h3>
                <p>
                    Uniting together and connecting our minds in order to create holistic solution thinking that will lead your brand to greatness.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" width="300" src="/images/sample.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Portfolio</h2>
            <p>
                Collection of our work examples.
            </p>
        </div>
    </div>


    <div class="content">
        <h2 class="content-head is-left"><a name="door"></a>Quick signup or login</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form action="/" class="pure-form pure-form-stacked" method="post">
                    <fieldset>

                        <label for="name">Username</label>
                        <input id="username" type="text" name="username" placeholder="Your Username">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" name="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" name="password" placeholder="Your Password">

                        <button type="submit" class="pure-button" value="Submit">Sign Up or Login</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>How this works</h4>
                <p>
                    We need you to signup so we can process your requests and contact you. Please make sure the email you provide is correct.
                </p>

                <h4>Problems?</h4>
                <p>
                    If for some reason you cannot access your account, please send us an email or call us.
                </p>
            </div>
        </div>

    </div>

    {% include "./footer.html" %}

</div>




<script>
	var scrypt = scrypt_module_factory();

	$('#login').submit(function() {
    // get all the inputs into an array.
    	// not sure if you wanted this, but I thought I'd add it.
    	// get an associative array of just the values.

	    //console.log($('#username').val());
	    //console.log($('#password').val());
	   	var encrypted = scrypt.crypto_scrypt(scrypt.encode_utf8($('#username').val()), scrypt.encode_utf8($('#password').val()), 16384, 8, 1, 32);
		console.log(scrypt.to_hex(encrypted))
		$('#password').val(scrypt.to_hex(encrypted));
		return 1;
	});
</script>
{% endblock %}