{% extends 'layoutv2.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.min.js"></script>
{% endblock %}

{% block content %}

<!-- LOGIN START -->
<div class="login">
  <div class="loginWrap">
    <div class="pure-g">

           <div class="pure-u-1">
                <p>{{ message }}</p>
                <form action="/login" class="pure-form pure-form-stacked" method="post">
                    <fieldset>

                        <label for="name">Username</label>
                        <input id="username" name="username" class="backgroundinputs" type="text" placeholder="Enter username">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" name="password" placeholder="Your Password">

                        <button type="submit" class="pure-button briefbutton" value="Submit">Sign in <i class="fa fa-arrow-right"></i></button>

                        <p>Need an account? Go <a href="/register">register</a>.</p>

                    </fieldset>
                </form>
            </div>


</div></div></div>    
<!-- LOGIN END -->

<style>

.loginWrap {
    background: rgb(39,37,38);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

}

@media (max-width: 1200px) {
  .loginWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .loginWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>

{% endblock %}
