{% extends 'layout.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  
{% endblock %}

{% block content %}
{{ foo }}





<div class="content-wrapper-top">
    <div class="content"  style="background: #1a031b;">
        <div class="pure-g">

            {% for offering in offerings %}
            
                <div class="l-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
                    
                    <a href="/offerings/view/{{ offering.offering_id }}">
                    <div class="market-container-wrap">

                        <div class="market-container portrait" >

                            <div style="position: absolute; margin-left: 1em; padding-left: 1em; padding-right: 1em; background: #111; color: #fff; padding-top: 2em;" >{{ offering.price }}
                            </div>

                            <div class="market-container-imagewrap">
                                <img src="/offerings/{{ offering.samplefiles[0] }}" >
                            </div>
                           
                            <div >
                                <h2 style="color: #ccc; margin: 0.5em;">{{ offering.title }}</h2>
                            </div>
                            
                        </div>

                    </div>

                     </a>

                </div>
                
            {% endfor %}
        </div>
    </div>

    



    {% include "./footer.html" %}

</div>





{% endblock %}
