{% extends 'layout.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="content-wrapper-top">
    <div class="content">
        <div class="pure-g" >

            <div class="l-box pure-u-1">
                <div style="margin-top: 6em; text-align: center;">
                    <h1 style="color: rgba(45,155,45, 0.8); font-weight: 700; font-size: 4em;"><i class="fa fa-check-circle "></i> Success!</h1>
                    <p style="color: #888; font-size: 2em; line-height: 1.5em;">Your order has been placed. <br> Keep an eye on your mail for progress.
                    </p>
                </div>    
            </div>

        </div>
    </div>

    {% include "./footer.html" %}
</div>






{% endblock %}