{% extends 'layoutv2.html' %}

{% block title %}{{ offering.title}} by {{ offering.creator }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<!-- BANNER START -->
{% include "./offerings_banner.html" %}
<!-- BANNER END -->



<!-- ARTICLE START -->
<div class="article container">
  <div class="articleWrap">
    <div class="pure-g">
        <div class="pure-u-2-3 articleContent">
            <p class="offering-view-markdown">{{ offering.descriptionmarked|raw }}</p>
        </div>
        <div class="pure-u-1-3 articleSidebar">
            <p class="offering-view-markdown">

                    {% if editable == 1 %} 
                    <a href="/offerings/edit/{{ offering.offering_id }}" style="color: rgba(200,200,200, 0.5);"><i class="fa fa-fw fa-edit"></i> Edit </a> &nbsp;&nbsp;&nbsp;
                    <a href="/offerings/delete/{{ offering.offering_id }}" style="color: rgba(200,200,200, 0.5);"><i class="fa fa-fw fa-times"></i> Delete</a><br>
                    {% endif %}

                    {% if offering.saleoption == "price" %} 
                        <div style="background: #eee; padding: 1em;">
                            <a href="/offerings/order/{{ offering.offering_id }}" ><i class="fa fa-fw fa-shopping-cart"></i> Add to cart for R{{ parseFloat(offering.price).toFixed(2) }}</a><br>
                        </div>

                        <a href="/offerings/neworder/{{ offering.offering_id }}" ><i class="fa fa-fw fa-shopping-cart"></i> (temp) Add to cart for R{{ parseFloat(offering.price).toFixed(2) }}</a><br>
                    {% endif %}
                    
                    {% if offering.saleoption == "quote" %} 
                         <div style="background: #eee; padding: 1em;">
                            <a href="/offerings/order/{{ offering.offering_id }}" ><i class="fa fa-fw fa-shopping-cart"></i> Add to cart</a><br>
                         </div>  
                    {% endif %}

                  








            </p>
        </div>        
    </div>
  </div>    
</div>

<style>

.articleContent {
    padding: 1.5em;
    color: rgb(169,167,168); 
    background: rgb(39,37,38); 
}

.articleSidebar {
    padding: 1.5em;
}


    
@media (max-width: 1200px) {
  .articleWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .articleWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}

</style>




{% endblock %}