{% extends 'layout.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="content-wrapper-top">
    <div class="content">
    	<div class="pure-g" >
    		<div class="l-box pure-u-1">
    			<h1>{{ offering.title}}</h1>
    		</div>


    		<div class="l-box pure-u-1 pure-u-md-2-3 offeringbody">
				<p>{{ offering.descriptionmarked|raw }}</p>
    		</div>

    		<div class="l-box pure-u-1 pure-u-md-1-3">
    			<p style="color: rgba(0,0,0,1); ">
    				<span style="font-weight: 700;  font-size: 3em;">R {{ offering.price }}</span> <span style="font-weight: 700; font-size: 0.75em;">excl VAT</span>
    			</p>

    			<p>
    				<a class="pure-button pure-button-primary" href="/offerings/order/{{ offering.offering_id }}" style="text-align: left;"><i class="fa fa-shopping-cart"></i> Order Form</a>
    			</p>

    			{% if offering.creator == username %} 
	    			<div class="l-box">
	    				This is your offering. <a href="/offerings/edit/{{ offering.offering_id }}">Edit this.</a>

	    			</div>
				 
				{% endif %}
    		</div>


            
				{% for image in offering.samplefiles %}
				<div class="l-box pure-u-1 pure-u-md-2-3 ">
					
						<a href="/offerings/{{ image }}">
							<img src="/offerings/{{ image }}" style="width:100%;">
						</a>
					
				</div>	
				{% endfor %}	

			    



		</div>
    </div>

    {% include "./footer.html" %}
</div>






{% endblock %}