{% extends 'layout.html' %}

{% block title %}Edit {{ offering.title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}


div class="content-wrapper">


 <script src="/lib/dropzone.js"></script>


<!-- start market -->
<div class="ribbon l-box-lrg " style="background: rgb(255, 255, 255); color: #000;">
<div class="pure-g" style="margin-top: 60px;">

           
                <div class="pure-u-1 pure-u-md-1-2 ">
                	<div class="uploadimgblock" style="margin: 1em; ">

<form action="/offerings/imageupload/{{ offering.offering_id }}"
      class="dropzone"
      id="my-awesome-dropzone"></form>


					{% for image in offering.samplefiles %}
						
						
						<p data-imagename="{{ image }}" class="delimage" style="background:rgba(255,255,255,0.8);text-align:center; color: rgb(255,255,255); padding: 0.2em; border: 5px solid rgba(255,255,255,0.2);" > 
							<img src="/offerings/{{ image }}" style="width:100%;">
							<i class="fa fa-remove fa-3x"></i> 
						</p>
					{% endfor %}

					<p class="result">
					</p>
					</div>
                </div> 
                <script>

                $(".delimage").hover( function () {
                	$(this).css("background", "rgb(225, 76, 7)");
                	$(this).css("cursor", "pointer")
                },function () {
                	$(this).css("color", "rgb(255,255,255)")
                	$(this).css("background", "#fff")

                });

                $(".delimage").click( function () {
                	console.log($(this).data('imagename'));
                	$.post("/offerings/imagedelete/", {"delimage":$(this).data('imagename')});
                	//href="/offerings/imagedelete/{{ image }}"
                	//$(this).html(" removed ");
                	$(this).fadeOut("slow");
                })



                </script>   
                   
                <div class="pure-u-1 pure-u-md-1-2 ">
                	<!-- start FORM -->
					<form class="pure-form pure-form-stacked" enctype="multipart/form-data" method="post" action="/offerings/edit/{{ offering.offering_id }}">
						<fieldset>
					        <div class="pure-control-group">
					            <label for="title">Title</label>
					            <input id="title" class="backgroundinputs" type="text" name="title" value="{{ offering.title }}" placeholder="Short description of offering ">
					        </div>

					        <div class="pure-control-group">
					            <label for="description">Description ( <a href="http://daringfireball.net/projects/markdown/basics">markdown</a> allowed )</label>
					            <textarea id="description" name="description" class="backgroundtextareas" rows="15" placeholder="Long description what you are offering. This should inform and convince the buyer in you and your offering.">{{ offering.description}}</textarea>
					        </div>



					
						<br>
					

					        <div class="pure-controls">
					            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-fw fa-check"></i> Save changes</button> 
								    <span  style="color: rgba(55,55,55,0.75); margin-left: 1em; ">
					    				<a href="/offerings/delete/{{ offering.offering_id }}" style="color: rgba(55,55,55, 0.5); margin-right: 1em;"><i class="fa fa-times"></i> delete</a>
					    			</span>

					        </div>
					        
					    </fieldset>


					    </form>		
					    <!-- end form -->
                </div> 
            

</div>
</div> 
<!-- end market -->





    


  

    {% include "./footer.html" %}

</div>

<script>
var sizeblock = function () {
	console.log( )
	var h = parseInt($(".uploadimgblock").css("height"))
	if (h < 10) {
		$(".uploadimgblock").css("height", $(".uploadimgblock").css("width"))
		$(".uploadimgblock").css("background", "rgb(240,240,240)");
		$(".uploadimgblock").css("border", "2px #ccc dashed");
	}
	

}

sizeblock();
</script>




{% endblock %}