{% extends 'layoutv2.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
    <script src="/lib/dropzoneavatar.js"></script>
{% endblock %}

{% block content %}

<div class="bannerWrap" >
    <div class="pure-g" >


            <div class="l-box pure-u-1 ">
            	<div class="pure-g l-box" >


			<div class="pure-u-1 pure-u-md-1-3 labell">
                <div style="height: 128px; width: 128px; background:rgb(38,38,38); border: 1px rgb(100,100,100) solid; padding: 3px;">
                    <img src="/avatars/{{ session.db.avatar }}" width="120" height="120" onError="this.onerror=null;this.src='/images/avatar.jpg';">
                </div>
			</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata">
				<div class="pure-u-1">
					<div><form action="/profile/uploadavatar" class="dropzone" id="my-awesome-dropzone"></form></div>
				</div>
			</div>

					
				</div>
            	
            </div>


            <div class="l-box pure-u-1 ">
				



<form class="pure-form pure-form-stacked" method="post" >
	
	<div>
		<div class="pure-g l-box" >
			<div class="pure-u-1"><h2>Your Account</h2></div>



			<div class="pure-u-1 pure-u-md-1-3 labell">Username</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata">{{ userdb.username }}</div>

			<div class="pure-u-1 pure-u-md-1-3 labell">Email</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata">{{ userdb.email }}</div>		

				

			<div class="pure-u-1 pure-u-md-1-3 labell">Type</div>
					     
        	<div class="pure-u-1 pure-u-md-2-3 " id="accounttype">
        		<input type="radio" id="accounttypeclient" name="accounttype" value="client" {% if userdb.accounttype == "client" %}checked{% endif %} > Client
				<input type="radio" id="accounttypementor" name="accounttype" value="mentor" {% if userdb.accounttype == "mentor" %}checked{% endif %} > Mentor
				<input type="radio" id="accounttypecreative" name="accounttype" value="creative" {% if userdb.accounttype == "creative" %}checked{% endif %} > Creative
        	</div>
					     

			<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Full name</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="fullname" class="backgroundinputs" data-backgroundinfo="fullname" type="text" name="fullname" placeholder="Enter your full name here" value="{{ userdb.fullname }}"></div>	

			<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Phone number</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="phonenumber" class="backgroundinputs" data-backgroundinfo="phonenumber" type="text" name="phonenumber" placeholder="We will not sell or spam your number" value="{{ userdb.phonenumber }}"></div>		


		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Short Bio</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="shortbio" class="backgroundinputs" type="text" name="shortbio" placeholder="ex: I take beautiful photos" value="{{ userdb.shortbio }}"></div>	


		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Location</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="location" class="backgroundinputs" type="text" name="location" placeholder="ex: Centurion, South Africa" value="{{ userdb.location }}"></div>	

		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Website</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="website" class="backgroundinputs" type="text" name="website" placeholder="Link to your website/portfolio" value="{{ userdb.website }}"></div>	


		
			

			
	

		</div>
	</div>




	<span style="float:right;">
    	{{ message }}  <button type="submit" class="pure-button" value="Submit" style="margin-bottom:3em;" >Save</button> 
	</span>
</form>

</div>

</div>
</div>

<style>

input {
	width: 100%;

}

#accounttype input {width: 20px;}

.labell { color:rgb(125,125,125);}

.bannerWrap {
	background: rgb(39,37,38); 
	padding: 24px;
}

@media (max-width: 1200px) {
  .bannerWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .bannerWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>


{% endblock %}