{% extends 'layoutv2.html' %}

{% block title %}LaunchLab New Project{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="bannerWrap" >
    <div class="pure-g" >
            <div class="l-box pure-u-1 ">
				



<form class="pure-form pure-form-stacked" method="post" >
	
	<div>
		<div class="pure-g l-box" >
			<div class="pure-u-1"><h2>Your Account</h2></div>

			<div class="pure-u-1 pure-u-md-1-3 labell">Username</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata">{{ userdb.username }}</div>

			<div class="pure-u-1 pure-u-md-1-3 labell">Email</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata">{{ userdb.email }}</div>		

			<div class="pure-u-1 pure-u-md-1-3 labell">Avatar</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><a href="http://www.gravatar.com/"> Change</a></div>		

			<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Full name</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="fullname" class="backgroundinputs" data-backgroundinfo="fullname" type="text" name="fullname" placeholder="Enter your full name here" value="{{ userdb.fullname }}"></div>	

			<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Phone number</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="phonenumber" class="backgroundinputs" data-backgroundinfo="phonenumber" type="text" name="phonenumber" placeholder="We will not sell or spam your number" value="{{ userdb.phonenumber }}"></div>		


		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Short Bio</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="shortbio" class="backgroundinputs" type="text" name="shortbio" placeholder="ex: I take beautiful photos" value="{{ userdb.shortbio }}"></div>	


		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Location</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="location" class="backgroundinputs" type="text" name="location" placeholder="ex: Centurion, South Africa" value="{{ userdb.location }}"></div>	

		<div class="pure-u-1 pure-u-md-1-3 labell inputlabel">Website</div>
			<div class="pure-u-1 pure-u-md-2-3 profiledata"><input id="website" class="backgroundinputs" type="text" name="website" placeholder="Link to your website/portfolio" value="{{ userdb.website }}"></div>	


		
			<div class="pure-u-1"><h2>Bitcoin (experimental)</h2></div>
			<div class="pure-u-1"><p>This is so others can pay you for your services. Do not use yet unless you know what you are doing.  You can create a bitcoin wallet and withdraw funds by registering on <a href="https://bitx.co.za">https://bitx.co.za</a> </p></div>

			
			
			<div class="pure-u-1 profiledata"><input id="bitcoinaddress" class="backgroundinputs" type="text" name="bitcoinaddress" placeholder="Paste your recieving bitcoin wallet address here" value="{{ userdb.bitcoinaddress }}"></div>	

			
	

		</div>
	</div>




	<span style="float:right;">
    	{{ message }}  <button type="submit" class="pure-button" value="Submit" style="margin-bottom:3em;" >Save</button> 
	</span>
</form>

</div>

</div>
</div>

<style>

input {
	width: 100%;

}

.labell { color:rgb(125,125,125);}

.bannerWrap {
	background: rgb(39,37,38); 
	padding: 24px;
}

@media (max-width: 1200px) {
  .bannerWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .bannerWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>


{% endblock %}