{% extends 'layout.html' %}

{% block title %}LaunchLab Projects{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.js"></script>
{% endblock %}

{% block content %}
{{ foo }}


<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href=""><img class="mainlogo" src="/images/logo.png"></a>

        <ul>
            <li><a href="/">Account</a></li>
            <li class="pure-menu-selected"><a href="/projects">Projects</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</div>

<div class="content-wrapper-top">


    


    <div class="content">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                
				<h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Projects
                </h3>
                <p>
                    <a href="/projects/new">create new project</a><br>
                    <a href="/projects/join">join a project</a><br>
                    <a href="/projects/public">list all projects</a><br>
                </p>

            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>How this works</h4>
                <p>
                    We need you to signup so we can process your requests and contact you. Please make sure the email you provide is correct.
                </p>

                <h4>Problems?</h4>
                <p>
                    If for some reason you cannot access your account, please send us an email or call us.
                </p>
            </div>
        </div>

    </div>



</div>




<script>
	var scrypt = scrypt_module_factory();

	$('#login').submit(function() {
    // get all the inputs into an array.
    	// not sure if you wanted this, but I thought I'd add it.
    	// get an associative array of just the values.

	    //console.log($('#username').val());
	    //console.log($('#password').val());
	   	var encrypted = scrypt.crypto_scrypt(scrypt.encode_utf8($('#username').val()), scrypt.encode_utf8($('#password').val()), 16384, 8, 1, 32);
		console.log(scrypt.to_hex(encrypted))
		$('#password').val(scrypt.to_hex(encrypted));
		return 1;
	});
</script>
{% endblock %}