{% extends 'layoutv2.html' %}

{% block title %}LaunchLab{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.min.js"></script>
{% endblock %}

{% block content %}

<!-- projects -->
<div class="projects container">
 <div class="projectsWrap">
  <div class="pure-g">
   
   <div class="pure-u-2-3 darkerbg">
        	<div >
        		<div class="projectItemTitle">{{ project.projecttitle }}</div>
                <div class="projectItemProvider"><a href="/{{ order.offering.creator }}">{{ project.offering.creator }}</a></div>
            </div>

            <div>
	            <div class="wrapperpad">
	             	<span class="redtext">Thank you for purchasing this service. 
	            Before we can start we'll need some information on the specifics of what you require. 
	            	<span>
	            </div>
            </div>

            <div>
            	<div class="wrapperpad">
            		<span class="h3">JOB NAME</span>
	             	<span class="darktext">for ease of reference
	            	<br>    
	            	<input id="formtitle" class="inputbox" value="{{ project.brief.title }}">
            	</div>
            </div>

           

            <div>
            	<div class="wrapperpad">
            		<span class="h3">JOB BRIEF</span>
	             	<span class="darktext">describes the project target and direction.
	            	<br>    
	            	<textarea id="formbrief" class="inputbox" placeholder="{{ project.brief.brief }}">{{ project.brief.brief }}</textarea> 
            	</div>
            </div>            

   </div>    
   
   <div class="pure-u-1-3 darkerbg" style="position: relative;">
   		<div class="buttonright" id="briefsubmit">
   			<span class="h3">COMPLETE</span>
   		</div>
   </div>

  </div>
 </div>
</div>            


<script>
$("#briefsubmit").click( function() {
	var form = {}

	form.title = $("#formtitle").val();
	if (form.title == "") { $("#formtitle").focus(); return; }
	form.brief = $("#formbrief").val();
	if (form.brief == "") { $("#formbrief").focus(); return; }

	$.post( "", form, function( data ) {
		console.log(data);
		window.location.replace("/cart");
	});
})
</script>

<style>



.buttonright {
	background: rgb(224,77,10);
	height: 40px;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	bottom: 16px;
	width: 100%;
}

.buttonright:hover {
	background: rgb(255,255,255);
	color: rgb(224,77,10);
	cursor: pointer;
}

textarea.inputbox { 
	min-height: 200px;
	resize:vertical ;
}

textarea.inputbox:focus { 
	min-height: 200px;
	border: 2px solid rgb(224,77,10);
}

.inputbox {
	width: 100%;
	padding: 8px;
	margin-top: 8px;
	background: rgb(55,55,55);
	border: 2px solid rgb(32,32,32);
	color: rgb(255,255,255);
}
.h3 {
	text-transform: uppercase; font-size: 1.25em; font-weight: 700; 
}

.darktext {
	font-weight: 400;
	color: rgb(125,125,125);
}

.redtext {
	font-weight: 400;
	color: rgb(224,77,10);
}

.graytext {
	font-weight: 400;
	color: rgb(200,200,200)
}

.wrapperpad {
	padding: 16px;
}

.redbg {
	background: rgb(224,77,10);
}
.darkbg {
  background: rgb(39,37,38);
}
.darkerbg {
  background: rgb(32,32,32);
}

.projectItemTitle { text-transform: uppercase; font-size: 1.25em; font-weight: 700; margin-top: 16px; margin-left: 16px;}
.projectItemProvider { text-transform: uppercase; margin-left: 16px; margin-bottom: 0.3em; }
.projectItemProvider a { color: rgb(150,150,150); }
.projectItemProvider a:hover { color: rgb(255,255,255); }

@media (max-width: 1200px) {
  .projectsWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .projectsWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>

{% endblock %}
