{% extends 'layoutv2.html' %}

{% block title %}Project {{ project._id.toHexString() }}{% endblock %}

{% block head %}
  {% parent %}
  <script src="/lib/scrypt.js"></script>
  <script src="/lib/socket.io.min.js"></script>
  <script src="/lib/processing.min.js"></script>
{% endblock %}

{% block content %}

<script>
var socket = io.connect();
var project = {{ projectjson|raw }};
</script>


<!-- PROJECT START -->
<div class="project container">
  <div class="projectWrap">
    <div class="pure-g">

    <!-- TOP PROJECT BAR START-->
    <div class="pure-u-1 darkerbg" >

            <div >
                <div class="projectItemTitle">
                  {% if project.brief.title %}
                    {{ project.brief.title }}
                  {% endif %}
                  {% if project.brief.title == undefined %}
                    {{ project.projecttitle }} 
                  {% endif %}                  
                                     
                </div>

                <div class="projectItemProvider">
                     <a href="/offerings/view/{{ project.offering._id.toHexString() }}">{{ project.offering.title }}</a> BY <a href="/{{ order.offering.creator }}">{{ project.offering.creator }}</a>
                </div>
            </div>
    </div>
    <!-- TOP PROJECT BAR END-->

    <!-- STATUS PROJECT BAR START-->
    <div class="pure-u-1 darkestbg" >
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-3">
            <img src="/images/graph_placeholder.png" style="width: 100%; margin-top: 2em;">
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <img src="/images/flask.png" style="width: 100%">
        </div>
      </div>
    </div>



        <div class="pure-u-1 pure-u-md-2-3 ">

            <div class="darkerbg" style="padding-top: 1em;padding-bottom: 1em;">

                <div class="projectItemTitle">
                    JOB NAME
                </div>

                <div class="projectTextBlock">
                    <span class="darktext" >{{ project.brief.title }}</span>
                </div>

                <div class="projectItemTitle">
                    JOB BRIEF
                </div>

                <div class="projectTextBlock">
                    <span class="darktext">{{ project.brief.brief }}</span>
                </div>

                <div class="projectItemTitle">
                    JOB DEADLINE
                </div>        

                <div class="projectTextBlock">
                    <span class="darktext">{{ project.brief.deadline }}</span>
                </div>

                <div class="projectItemTitle">
                    JOB FILES
                </div>     

                <div class="projectTextBlock">
                    {% for file in project.brief.samplefiles %}
                        <a href="/projectfiles/{{ file }}"><i class="fa fa-file-o"></i> {{ file }}</a>
                    {% endfor %}
                </div>


            </div>


            <!-- DISCUSSION START -->
            <div class="darkestbg">
                <div id="talkstream"></div>

                <div>
                   
                    <div style="float:right;width:40px; ">
                        <div id="chatsend"><i class="fa fa-send"></i></div>
                    </div>  
                    <div style="margin-right:40px;margin-left: 40px;">
                        <input id="chatmessage" autocomplete="off" placeholder="type your message here.">
                    </div>                                                           
                </div>

                
                
            </div>
            <!-- DISCUSSION END -->

                





        </div>

        <div class="pure-u-1 pure-u-md-1-3 rightpanel">

                

                <div>
                    <div class="pure-g">
                        {% for member in project.members %}
                            <!-- user start -->
                            <div class="pure-u-1" style="margin: 1em; ">
                                <a href="/{{ member }}">{{ member }}</a>
                            </div>
                            <!-- user end -->
                        {% endfor %}


                        {% if session.db.accounttype == "mentor" %}
                        <div class="pure-u-1" style="margin: 1em;">
                            <div class="pure-g">
                                <div class="pure-u-1 pure-u-md-2-3">
                                    <form class="pure-form">
                                        <input id="inviteUser" class="backgroundinputs" data-backgroundinfo="inviteUser" type="text" name="inviteUser" placeholder="Username">
                                    </form>
                                </div>
                                <div id="invitemember" class="pure-u-1 pure-u-md-1-3" style="text-align:center;margin-top: 0.5em;">
                                    <span style="font-size: 1.25em;"  class="uibutton"><i class="fa fa-plus-circle "></i> </span>
                                </div>  
                            </div> 
                        </div>
                        <script>
                            $("#invitemember").click( function() { 
                                socket.emit('invite', {user: $("#inviteUser").val() } );
                            })
                        </script>
                        {% endif %}

                    </div>
                    
                </div>




        </div> <!-- END RIGHT PANEL -->


    </div>
  </div>
</div>
<!-- PROJECT START -->



<style>
#chatmessage { height: 40px; border-radius: none; border: none; width:100%; padding: 8px;}

#chatsend {
    height: 40px;
    background-color: rgb(210,72,7);
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1200px) {
  .projectWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .projectWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}

</style>

           



<script>
var user = {}
user.username = '{{ username }}';
user.password = '{{ password }}'; 
user.email = '{{ email }}';
user.roomname = "{{ project.id }}";

var messages = {{ messagearray|raw }}

var rendermessage = function(data) {
    var htmlperson = 
    '<div >'
        //+'<img src="'+data.message.avatar+'" style="width:40px;">'
        +'<img src="http://www.gravatar.com/avatar/1b83c0ee23f2bbc7a37d196d1b5bbf19?s=200&r=pg&d=404" style="width:40px;">'
    +'</div>';

    var left = '';
    var right = '';
    var side = '';

    if (data.message.username == user.username) {
        //We sent this so left align
        left = htmlperson;
        side = 'message_l';
    } else {
        //Someone sent this to us, so right align.
        right = htmlperson;
        side = 'message_r';
    }
    

    var htmlmessage = 
     '<div>'
        +'<div style="width:40px; float:left;">'+left+'</div>'
        +'<div style="width:40px; float:right;">'+right+'</div>'
        +'<div style="margin-left:40px;margin-right:40px;">'
            +'<div class="message '+side+'">';

                if (data.message.username == user.username) {
                    htmlmessage+='<div style="color: rgb(75,75,75);  float:left;">'+data.message.username+'</div>'
                } else {
                    htmlmessage+='<div style="color: rgb(75,75,75); float:right;">'+data.message.username+'</div>'
                }

                htmlmessage+='<div class="messagetext" style="margin-top: 2em;">'+data.message.text+'</div>'
                +'<div class="timeago"><span class="timeago" title="'+data.message.timestamp+'">'+data.message.timeformatted+'</span></div>'
            +'</div>'
        +'</div>'
    +'</div>'
    
    //APPENDS INTO THE DOM
    $("#talkstream").append(htmlmessage);
    $("span.timeago").timeago();
    $("img").error(function () { 
        //$(this).hide();
        $(this).css({visibility:"hidden"}); 
    });
}

var rendermessages = function () {
   for (var msgnum in messages ) {
        var curdata = messages[msgnum];
        rendermessage(curdata);        
    }
}

socket.on('connect', function() {
   // Connected, let's authenticate over sockets.
   console.log("AUTH")
   socket.emit('authenticate', {username: user.username, email: user.email, password: user.password });

});

socket.on('authed', function (data) {
    if (data.auth == true) {
        socket.emit('room', {room: "{{ project.id }}" });     
    }
});



socket.on('message', function (data) {
    //BUILDS THE HTML WHEN A MESSAGE IS CREATED/RECIEVED. THIS CAN BE FROM OTHERS, OR WHAT WE SENT OURSELVES.
    //console.log(data)
    messages.push(data)
    rendermessage(data);
    $("html, body").animate({ scrollTop: $(document).height()-$(window).height() });
});

$("#roomconnect").click( function() {
    user.roomname = $("#roomname").val();
    console.log("Connecting to room " + user.roomname )
    socket.emit('room', {room: "{{ id }}" });
});

$("#chatsend").click( function(data) {
    data.preventDefault();
    console.log("Sending "+ $("#chatmessage").val() +" to "+ $("#roomname").val() )
    var messagetextinput = $("#chatmessage").val();
    socket.emit('message', {messagetext: messagetextinput} );
    $("#chatmessage").val("")
    $("#chatmessage").focus();
})
    
//do first render
rendermessages();

//uncomment to scroll to new message
//$("html, body").animate({ scrollTop: $(document).height()-$(window).height() });

$("img").error(function () { 
    //$(this).hide();
    $(this).css({visibility:"hidden"}); 
});

</script>



{% endblock %}