<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Openwindow Attendance Class List{% endblock %}</title>

	<link rel="icon" sizes="196x196" href="/iconbig.png">
  <link rel="icon" sizes="128x128" href="/iconmedium.png">
  <link rel="apple-touch-icon" sizes="128x128" href="/iconmedium.png">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/iconmedium.png">

<link rel="stylesheet" href="/css/pure-min.css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="/css/font-awesome.min.css">

<script src="/lib/jquery-1.11.0.min.js"></script>
<script src="/lib/jquery.timeago.js" type="text/javascript"></script>

<link rel="stylesheet" href="/css/openwindow.css">
</head>
<body>

<script>
var socket = io.connect('{{ socketserver }}');
</script>

<div class="pure-g">
    <div class="pure-u-1">
    	<div class="logotop">
    		<img src="/images/OPENWINDOW1.gif">
    	</div>
    </div>
</div>


<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
    	<h1>Attendance Class List</h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 ">
    	<p class="policy">Policy: Students need an 80% attendance rate in order to submit per module. 
    		Only doctor's certificate may exempt a student.</p>
    </div>    
</div>

<br>

<div class="pure-g" style="font-size: 0.8em;">
    <div class="pure-u-1 pure-u-md-1-2">
    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Lecturer</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">Lala Crafford</div>
    		</div>
    	</div>

    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Subject</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">Figure Drawing 1</div>
    		</div>
    	</div>

    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Module</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">3</div>
    		</div>
    	</div>    	

    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Week</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">5</div>
    		</div>
    	</div>  

    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Time</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">12:00-14:00</div>
    		</div>
    	</div>   
    	<div class="pure-g">
    		<div class="pure-u-1-4" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #999;">Date</div>
    		</div>
    		<div class="pure-u-1-2">
    			<div class="classinfodata" style="margin-right: 0.5em; font-weight: 700; color: #000;">Wed 13 Aug 2014</div>
    		</div>
    	</div>     	 	    	
    </div>
    <div class="pure-u-1 pure-u-md-1-2 ">

		<div class="pure-g">
    		<div class="pure-u-1-12" style="text-align: right; ">
    			<div class="classinfotitle" style="margin-right: 0.5em; font-weight: 700; color: #000;">{{ studentcounttotal|raw }}</div>
    		</div>
    		<div class="pure-u-11-12">
    			<div class="classinfodata" style="margin-right: 0.5em; text-transform: uppercase; font-weight: 700; color: #999;">Total students enrolled for class</div>
    		</div>
    	</div>

		<div class="pure-g">
    		<div class="pure-u-1-12" style="text-align: right; ">
    			<div class="classinfotitle studentcountpresent" style="margin-right: 0.5em; font-weight: 700; color: #000;">{{ studentcountpresent }}</div>
    		</div>
    		<div class="pure-u-11-12">
    			<div class="classinfodata" style="margin-right: 0.5em; text-transform: uppercase; font-weight: 700; color: #999;">Present <span class="studentcountpresentpersentage"></span></div>
    		</div>
    	</div>

		<div class="pure-g">
    		<div class="pure-u-1-12" style="text-align: right; ">
    			<div class="classinfotitle studentcountabsent" style="margin-right: 0.5em; font-weight: 700; color: #000;">{{ studentcountabsent }}</div>
    		</div>
    		<div class="pure-u-11-12">
    			<div class="classinfodata" style="margin-right: 0.5em; text-transform: uppercase; font-weight: 700; color: #999;">Absent <span class="studentcountabsentpersentage"></span></div>
    		</div>
    	</div>

		<div class="pure-g">
    		<div class="pure-u-1-12" style="text-align: right; ">
    			<div class="classinfotitle studentcountexempt" style="margin-right: 0.5em; font-weight: 700; color: #000;">{{ studentcountexempt }}</div>
    		</div>
    		<div class="pure-u-11-12">
    			<div class="classinfodata" style="margin-right: 0.5em; text-transform: uppercase; font-weight: 700; color: #999;">Exempt <span class="studentcountexemptpersentage"></span></div>
    		</div>
    	</div>

		<div class="pure-g">
    		<div class="pure-u-1-12" style="text-align: right; ">
    			<div class="classinfotitle studentcountwork" style="margin-right: 0.5em; font-weight: 700; color: #000;">{{ studentcountwork }}</div>
    		</div>
    		<div class="pure-u-11-12">
    			<div class="classinfodata" style="margin-right: 0.5em; text-transform: uppercase; font-weight: 700; color: #999;">Work <span class="studentcountworkpersentage"></span></div>
    		</div>
    	</div>

    </div>    
</div>

<br><br>

<div class="classlist">
	<div class="pure-g classlistrow titles" >
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="studentcount" >&nbsp;</div>
			<div class="studentnumber" >
				<div class="title">Student<br>Number</div>
			</div>
			<div class="studentname" >
				<div class="title">Student<br>Name</div>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">

			<div class="vtitle">
				<div class="title vertical">Present</div>
			</div>

			<div class="vtitle">
				<div class="title vertical">Absent</div>
			</div>

			<div class="vtitle">
				<div class="title vertical">Exempt</div>
			</div>

			<div class="vtitle">
				<div class="title vertical">Work</div>
			</div>

			<div class="notebox">
				<div class="title">Optional<br>Notes</div>
			</div>

		</div>		
	</div>


 {% for student in students %}
	<div class="pure-g classlistrow" >
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="studentcount" >{{ student.count }}</div>
			<div class="studentnumber" >{{ student.number }}</div>
			<div class="studentname" ><strong>{{ student.name }}</strong> {{ student.surname }}</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<div class="tickbox present"></div>
			<div class="tickbox absent"></div>
			<div class="tickbox exempt"></div>
			<div class="tickbox work"></div>
			<div class="notebox">
				<input>
			</div>
		</div>		
	</div>
{% endfor %}
</div>

<script type="text/javascript">
	var classdata = {}
	classdata.studentcounttotal = {{ studentcounttotal|raw }};
	classdata.studentcountpresent = {{ studentcountpresent|raw }};
	classdata.studentcountabsent = {{ studentcountabsent|raw }};
	classdata.studentcountexempt = {{ studentcountexempt|raw }};
	classdata.studentcountwork = {{ studentcountwork|raw }};
	
	$(".present").click(function () {
		if ($(this).html() == "P") {	
			classdata.studentcountpresent -= 1;
			$(this).html("");
			$(this).css("border", "2px solid #ccc");
			$(this).css("background", "none");
		} else {
			classdata.studentcountpresent += 1;
			$(this).html("P");
			$(this).css("border", "2px solid #080");
			$(this).css("background", "#090");
			$(this).css("color", "#fff");
		}	
		updateinfo();	
	});



	$(".absent").click(function () {
		if ($(this).html() == "A") {	
			classdata.studentcountabsent -= 1;
			$(this).html("");
			$(this).css("border", "2px solid #ccc");
			$(this).css("background", "none");
		} else {			
			classdata.studentcountabsent += 1;
			$(this).html("A");
			$(this).css("border", "2px solid #740");
			$(this).css("background", "#930");
			$(this).css("color", "#fff");
		}	
		updateinfo();	
	});

	$(".exempt").click(function () {
		if ($(this).html() == "E") {	
			classdata.studentcountexempt -= 1;
			$(this).html("");
			$(this).css("border", "2px solid #ccc");
			$(this).css("background", "none");
		} else {			
			classdata.studentcountexempt += 1;
			$(this).html("E");
			$(this).css("border", "2px solid #950");
			$(this).css("background", "#960");
			$(this).css("color", "#fff");
		}		
		updateinfo();
	});

	$(".work").click(function () {
		if ($(this).html() == "W") {	
			classdata.studentcountwork -= 1;
			$(this).html("");
			$(this).css("border", "2px solid #ccc");
			$(this).css("background", "none");
		} else {			
			classdata.studentcountwork += 1;
			$(this).html("W");
			$(this).css("border", "2px solid #047");
			$(this).css("background", "#049");
			$(this).css("color", "#fff");
		}		
		updateinfo();
	});

	var updateinfo = function () {
		$(".studentcounttotal").html(classdata.studentcounttotal);
		$(".studentcountpresentpersentage").html("("+(classdata.studentcountpresent/classdata.studentcounttotal*100).toFixed(2)+"%)");
		$(".studentcountpresent").html(classdata.studentcountpresent);
		$(".studentcountabsentpersentage").html("("+(classdata.studentcountabsent/classdata.studentcounttotal*100).toFixed(2)+"%)");
		$(".studentcountabsent").html(classdata.studentcountabsent);
		$(".studentcountexemptpersentage").html("("+(classdata.studentcountexempt/classdata.studentcounttotal*100).toFixed(2)+"%)");
		$(".studentcountexempt").html(classdata.studentcountexempt);
		$(".studentcountworkpersentage").html("("+(classdata.studentcountwork/classdata.studentcounttotal*100).toFixed(2)+"%)");
		$(".studentcountwork").html(classdata.studentcountwork);
	}

</script>

</body>
</html>