{% extends 'layoutv2.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

<div class="bannerWrap">
    	<div class="pure-g" style="margin-top: 2em;">
    		<div class="pure-u-1 pure-u-md-1-2">
                <div class="pure-g" >
            <!-- start gallery -->
            {% include "./gallery_half.html" %}
            <!-- end gallery -->
                </div>
    			
    		</div>

            <div class="l-box pure-u-1 pure-u-md-1-2" style="color: #666; margin-top: 1em; ">
                <div style="height: 108px; width: 108px; background:rgb(245,245,245); border: 1px #eee solid; padding: 3px;">
                    <a href="https://en.gravatar.com/"><img src="{{ avatar }}" width="100" height="100" ></a>
                </div>
                
                    <div style="font-weight: 700; font-size: 1.25em; color: white; line-height: 0em; margin-top: 1em;text-transform: uppercase;">{{ user.fullname }}</div>
                 <div style="font-weight: 700; font-size: 1em; color: rgb(150,150,150); line-height: 0em; margin-top: 1.5em; margin-bottom: 1em; text-transform: uppercase;">{{ user.username }} 

                 {% if user.accounttype %}
                    {{user.accounttype }}
                 {% endif %}</div>
                    
                 <a href="mailto:{{ user.email }}"><i class="fa fa-fw fa-envelope "></i> {{ user.email }}</a>  <br> 

                {% if user.shortbio != "" %}<i class="fa fa-fw fa-question-circle "></i> {{ user.shortbio }}<br>{% endif %}
                {% if user.location != "" %}<i class="fa fa-fw fa-map-marker"></i> {{ user.location }}<br>{% endif %}                 
                {% if user.phonenumber != "" %}<a href="tel:{{ user.phonenumber }}"><i class="fa fa-fw fa-phone "></i> {{ user.phonenumber }}</a><br>{% endif %}
                {% if user.website != "" %}<a href="http://{{ user.website }}"><i class="fa fa-fw fa-globe "></i> {{ user.website }}</a><br>{% endif %}

                
                <br><br>
                   {% if username == user.username %}
                                <a class="" href="/profile" ><i class="fa fa-fw fa-edit "></i> Edit your profile</a> <br>
                                <a class="" href="/offerings/new" ><i class="fa fa-fw fa-upload "></i> Upload your work</a> <br>
                    {% else %}
                                <a class="" href="/offerings/order/{{ offering.offering_id }}" ><i class="fa fa-fw fa-envelope-o "></i> Send a message</a><br>
                    {% endif %}
            </div>

		</div>
    
  
</div>


<style>
.bannerWrap {
    background: rgb(39,37,38); 
}

@media (max-width: 1200px) {
  .bannerWrap { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .bannerWrap { 
    margin-left: 152px;
    margin-right: 152px;
  }
}
</style>



{% endblock %}