                    <a href="/work"><i class="fa fa-fw fa-rocket " ></i> work</a> &nbsp;&nbsp;&nbsp;
                    <a href="/work/invoices"><i class="fa fa-fw fa-reorder "></i> invoices</a> &nbsp;&nbsp;&nbsp;
                    <a href="/work/tasks"><i class="fa fa-fw fa-tasks "></i> tasks</a> &nbsp;&nbsp;&nbsp;
                    <a href="/work/clients"><i class="fa fa-fw fa-users "></i> clients</a> &nbsp;&nbsp;&nbsp;
                    <a href="/work/projects"><i class="fa fa-fw fa-hdd-o "></i> projects</a> &nbsp;&nbsp;&nbsp;