* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-style: none;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: 0.1em;    
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

body {
    line-height: 1.7em;
    color: rgb(255,255,255);
    font-size: 1em;
    background-color: rgb(47,47,47);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: rgb(255,255,255);
    font-weight: 700;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    letter-spacing: 0.1em; 
}

h1 { line-height: 1.25em;}

a {
    color: rgb(255,255,255);
    text-decoration: none;
}

a:hover {
    color: rgb(225,76,7);
}

input {
    padding: 0.5em;
    border: 2px solid rgb(39,37,38);
}

input:focus {
    border: 2px solid rgb(225,76,7);
}