<featured>
	<div class="banner container">
	  <div class="bannerWrap">
	    <div class="pure-g">
	        
	        <div class="pure-u-1 pure-u-md-2-3">
	           <a id="bannerLink" href="/offerings/view/{{ offerings._id }}"> 
	            <div id="bannerImage" class="bannerImage" style='background-image: url("/offerings/{{ offerings.samplefile }}");' ></div>
	           </a>
	         </div>

	        <div class="pure-u-1 pure-u-md-1-3 bannerText">
	          <div class="bannerTextWrap">
	            <h1 id="bannerTitle"></h1>
	            <p id="bannerDescription"></p>
	          </div>
	            
	          <div class="creatorBlock" id="bannerCreator">
	            BY <a href="/"></a>
	          </div>

	          <a id="bannerLinkButton" class="thickBlock" href="/offerings/view/{{ offerings._id }}">
	            <div>
	                MORE INFO
	            </div>
	          </a>
	      </div>

	    </div>
	  </div>
	</div> 

	<div ng-click="leftBanner()" class="bannerNav" id="bannerLeft">
	    <i class="fa fa-flip-horizontal fa-play"></i>
	</div>

	<div ng-click="rightBanner()" class="bannerNav right" id="bannerRight">
	    <i class="fa fa-play"></i>
	</div>
</featured>