<gallery class="gallery">
  <div class="galleryWrap">
    <div class="pure-g">

    <div class="pure-u-1 galleryFilters">
        <ul>
			<li><input type="radio" id="allRadio" ng-model="tagFilter" value="" ng-change='filterUpdate(tagFilter)' ng-init="tagFilter = ''"><label for="allRadio">All</label></li>
			<li><input type="radio" id="articleRadio" ng-model="tagFilter" value="article" ng-change='filterUpdate(tagFilter)'><label for="articleRadio">Articles</label></li>
			<li><input type="radio" id="projectRadio" ng-model="tagFilter" value="project" ng-change='filterUpdate(tagFilter)'><label for="projectRadio">Projects</label></li>
			<li><input type="radio" id="serviceRadio" ng-model="tagFilter" value="service" ng-change='filterUpdate(tagFilter)'><label for="serviceRadio">Service</label></li>
			<li><input type="radio" id="productRadio" ng-model="tagFilter" value="product" ng-change='filterUpdate(tagFilter)'><label for="productRadio">Product</label></li>
			<li><input type="radio" id="eventRadio" ng-model="tagFilter" value="event" ng-change='filterUpdate(tagFilter)'><label for="eventRadio">Event</label></li>
			<li><input type="radio" id="tutorialRadio" ng-model="tagFilter" value="tutorial" ng-change='filterUpdate(tagFilter)'><label for="tutorialRadio">Tutorial</label></li>
			<li><input type="radio" id="courseRadio" ng-model="tagFilter" value="course" ng-change='filterUpdate(tagFilter)'><label for="courseRadio">Course</label></li>
		</ul>
    </div>

                    <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5" ng-repeat="offering in offerings | filter:tagFilter track by $index">
                        
                        
                        <div class="market-container-wrap" style="position: relative;">
                            
                            <div class="market-container portrait">
                                <a href="/#/offerings/view/{{ offering._id }}" class="market-link">
                                    <div class="market-container-imagewrap" style='background-image: url("/offerings/{{ offering.samplefiles[0] }}");'>
                                        
                                    </div>
                               </a>

                                <div style="padding: 0.5em;">
                                    <span class="market-title" >
                                        <a href="/#/offerings/view/{{ offering._id }}" class="market-link productgallery" >
                                            {{ offering.title }}
                                        </a>
                                        </span><br>
                                </div>

                                <div ng-if="offering.price" style="position: absolute; top : 16em; left: 0.5em; font-size: 1em;font-weight: 700;">
                                    <i class="fa fa-bitcoin"></i> {{ offering.price }}
                                </div>

                                <div class="galleryBy" style="text-transform: uppercase;">
                                    <span class="market-creator" >by <a href="/#/{{ offering.creator }}">{{ offering.creator }}</a></span>
                                </div>
                                
                            </div>
                            
                        </div>
                         
                    </div>
    </div>
  </div>
</gallery>