        <div class="pure-g" >

            <div class="l-box pure-u-1">
                <div style="margin-top: 6em; text-align: center;">
                    <h1 style="color: rgba(45,155,45, 0.8); font-weight: 700; font-size: 4em;"><i class="fa fa-check-circle "></i> Sent!</h1>
                    <p style="color: #888; font-size: 2em; line-height: 1.5em;">Your message has been sent. <br> Keep an eye on your mail for a response.
                    </p>
                </div>    
            </div>

        </div>